<div class="@ClassNames" style="@Style">
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <label class="noknin-select__label" id="@LabelId">
            @Label
            @if (Required)
            {
                <span aria-hidden="true">*</span>
            }
        </label>
    }

    <button type="button"
            class="noknin-select__trigger"
            disabled="@Disabled"
            aria-haspopup="listbox"
            aria-expanded="@_open"
            aria-labelledby="@LabelledBy"
            aria-describedby="@DescribedBy"
            aria-invalid="@HasError"
            aria-controls="@ListId"
            aria-activedescendant="@ActiveDescendant"
            @onclick="Toggle"
            @onkeydown="HandleTriggerKeyDown">

        <span class="@ValueClassNames">
            @SelectedLabel
        </span>

        <span class="noknin-select__chevron" aria-hidden="true">
            <NokninIcon Name="NokninIconName.ChevronDown" Size="NokninSize.Small" />
        </span>
    </button>

    @if (_open)
    {
        <div id="@ListId"
             class="noknin-select__listbox"
             role="listbox"
             aria-labelledby="@LabelledBy"
             tabindex="-1"
             @onkeydown="HandleListKeyDown">

            @for (var index = 0; index < Options.Count; index++)
            {
                var option = Options[index];

                <button type="button"
                        id="@GetOptionId(index)"
                        class="@GetOptionClassNames(option, index)"
                        role="option"
                        aria-selected="@(option.Value == Value)"
                        disabled="@option.Disabled"
                        @onclick="() => SelectAsync(option)">
                    @option.Label
                </button>
            }
        </div>
    }

    @if (!string.IsNullOrWhiteSpace(Description) && !HasError)
    {
        <p id="@DescriptionId" class="noknin-select__description">
            @Description
        </p>
    }

    @if (HasError)
    {
        <p id="@ErrorId" class="noknin-select__error">
            @ErrorText
        </p>
    }
</div>
